<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="16/01/2014" class="selected">2000BCE</a></li>
					<li><a href="#0" data-date="02/02/2014">1810BCE</a></li>
					<li><a href="#0" data-date="20/03/2014">1332BCE</a></li>
					<li><a href="#0" data-date="20/05/2014">49BCE</a></li>
					<li><a href="#0" data-date="09/09/2014">527CE</a></li>
					<li><a href="#0" data-date="30/11/2014">1206CE</a></li>
					<li><a href="#0" data-date="15/12/2014">1312CE</a></li>
					<li><a href="#0" data-date="07/01/2015">1412CE</a></li>
					<li><a href="#0" data-date="29/01/2015">1492CE</a></li>
					<li><a href="#0" data-date="12/03/2015">1776CE</a></li>
					<li><a href="#0" data-date="25/03/2015">1804CE</a></li>
					<li><a href="#0" data-date="07/04/2015">2008CE</a></li>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li class="selected" data-date="16/01/2014">
				<h2>Timeline of Some Real Cool People in History</h2>
				<em>2000BCE</em>
				<p>
					This timeline covers a timespan of roughly 1800BC to the present day and lists several really cool people from history that you may or may not have heard of. I hope you find it fun and enlightening.
				</p>
			</li>

			<li data-date="02/02/2014">
				<h2>Hammurabi</h2>
				<em>1810BCE</em>
				<p>
					One of the kings of anicent Mesopotamia was named Hammurabi. He was a very smart man. There were no laws before Hammurabi became king. This was a problem because no one knew the laws, so Hammurabi had wrote all of the laws in stone. He did this so everyone had to live by the law. He also built the city of Babylon is what is today the country Iraq.
				</p>
				<%= image_tag "Hammurabi.jpeg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|9|32.6579148564562|44.53195850000009">
				</iframe>
			</li>

			<li data-date="20/03/2014">
				<h2>King Tut</h2>
				<em>1332BCE</em>
				<p>
					King Tutankhamun, or Tut, is one of the most famous pharoahs, or kings, of Egypt. He became king when he was only 10 years old! King Tut was unpopular because he destroyed temples and changed how the people worshiped. Because of this many people destroyed any mention or image of him after he died. He was found by archaeologists in 1922 buried in a tomb filled with gold, gems, and even chariots.
				</p>
				<%= image_tag "KingTut.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|12|29.968906982559336|31.20965739999997">
				</iframe>
			</li>

			<li data-date="20/05/2014">
				<h2>Julius Caesar</h2>
				<em>49BCE</em>
				<p>
					Julius Caesar was a famous general and ruler of Rome. There was much trouble and crime in Rome, but Caesar told the Romans he knew the solution so the people believed him. He gained so much power through the support of the people that the senators worried he would become king. So they assassinated him! He is so famous that the month of July is named after him.
				</p>
				<%= image_tag "JuliusCaesar.JPG" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|9|41.85374063075113|12.514979700000026">
				</iframe>
			</li>

			<li data-date="09/09/2014">
				<h2>Justinian</h2>
				<em>527CE</em>
				<p>
					The Roman Empire collapsed, but several generals and rulers banded together to form Byzantium from part of the Empire. The capital city was Constantinople, which is Istanbul today. Justinian was one ruler of Byzantium who tried to reform the Roman Empire. He had to fight many wars to do this and almost ran Byzantium out of money! He also built the huge church called the Hagia Sophia which is a mosque today in Istanbul.
				</p>
				<%= image_tag "Justinian.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|10|41.00560681782862|29.012179449999962">
				</iframe>
			</li>

			<li data-date="30/11/2014">
				<h2>Genghis Khan</h2>
				<em>1206</em>
				<p>
					Genghis Khan was the founder of the Mongolia Empire. He brought together many tribes under one set of laws. He conquered much of what is today China and Russia by building one of the most powerful militaries in history.
				</p>
				<%= image_tag "GenghisKhan.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|5|47.12668687028586|103.83478444999992">
				</iframe>
			</li>

			<li data-date="15/12/2014">
				<h2>Mansa Musa</h2>
				<em>1312</em>
				<p>
					Mansa Musa was emperor of the African kingdom of Mali. His kingdom was so big that he appointed governors over different parts of the kingdom to keep law and order. Under Mansa Musa Mali became very rich with much gold. He also made sure people were free to worship how they chose. Musa made a Muslim pilgrammage to Mecca and shared his gold with everyone he met along the way. This trip made him very famous across Africa.
				</p>
				<%= image_tag "MansaMusa.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|7|16.94802974446421|-3.0655936015625596">
				</iframe>
			</li>

			<li data-date="07/01/2015">
				<h2>Joan of Arc</h2>
				<em>1412</em>
				<p>
					Joan of Arc was a French peasant who helped France defeat the English. She heard the voices of saints and angels. They told her to take up arms and defend France. Joan of Arc helped the French to many victories, but was eventually captured and sold to the English who accused her of witchcraft and killed her. She is known as a hero in France to this day.
				</p>
				<%= image_tag "JoanofArc.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|12|47.87345082533532|1.9122085000000197">
				</iframe>
			</li>

			<li data-date="29/01/2015">
				<h2>Christopher Columbus</h2>
				<em>1492</em>
				<p>
					Christopher Columbus was an Italian explorer. He convinced the king and queen of Spain that were rich lands to the West. But many people believed the Earth was flat and that he would fall the edge of the world! He set off in his three ships, the Nina, Pinta, and Santa Maria to prove them wrong and ended up discovering America.
				</p>
				<%= image_tag "ChristopherColumbus.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|9|44.44702344135612|9.073218549999979">
				</iframe>
			</li>

			<li data-date="12/03/2015">
				<h2>George Washington</h2>
				<em>1789</em>
				<p>
					George Washington led armies for the US during the American Revolution against the British. He famously crossed the Delaware River to defeat a British garrison and went on to lead America to victory. He then became the first president of the United States. He was a great leader and may be the most honored American in history.
				</p>
				<%= image_tag "GeorgeWashington.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|13|38.716241663562435|-77.10729264999998">
				</iframe>
			</li>

			<li data-date="25/03/2015">
				<h2>Napoleon Bonaparte</h2>
				<em>1804</em>
				<p>
					Napoleon Bonaparte was a skilled general and ruler of France who conquered much of Europe. After his many victories he had the Pope crown him as emperor of France. Britain and it allies fought a series of wars against him and eventually emerged victorious at the famous Battle of Waterloo. He spent the rest of his life as a prisoner on the lonely island of Saint Helena.
				</p>
				<%= image_tag "NapoleonBonaparte.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|8|48.86531476122216|2.3743360748046705">
				</iframe>
			</li>

      <li data-date="07/04/2015">
				<h2>Barack Obama</h2>
				<em>2008</em>
				<p>
					Barack Obama is the first ever African-American president of the United States. He grew up in Chicago and started his career helping his fellow citizens as a community organizer. He was elected in 2008 after George Bush and went on to lead America through one of the most difficult economic times in history.
				</p>
				<%= image_tag "BarackObama.jpg" %>
				<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#roadmap|17|38.8976763|-77.03652979999998">
				</iframe>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
